@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #f5f5f5;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Crimson Pro', serif;
}
.header-section{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #f5f5f5;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    margin-left: 220px;
}
.navbar a{
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    transition: color 0.3s ease;

}
.navbar a:hover{
    color: #da6f4e;
}
.header-icons{
    margin-right: 220px;
}
.header-icons a{
    font-size: 18px;
    color: #da6f4e;
    cursor: pointer;
    margin-right:  20px;
    transition: color 0.3s ease;
}
.header-icons a:hover{
    color: #000;
}
.home-section{
    margin-top: 70px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 120px;
    background: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
}
.home-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 207, 207, 0.582);
    backdrop-filter: blur(2px);
    margin-top: 70px;
}
.home-content{
    position: relative;
    max-width: 600px;
}
.home-content h1{
    font-size: 68px;
    line-height: 1.1;
    margin-bottom: 20px;
    font-weight: 700;
    color: #000;

}
.home-content p{
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #da6f4e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: opacity 0.3s ease;
    font-size: 16px;

}
.btn:hover{
    opacity: 0.8;
}
