@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #f5f5f5;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Crimson Pro', serif;
}
.header-section{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #f5f5f5;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.navbar a{
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}
.navbar a:hover{
    color: #da6f4e;
}
.header-icons a{
    font-size: 16px;
    color: #da6f4e;
}