@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Crimson Pro', serif;
}
.header-section{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #f5f5f5;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    margin-left: 220px;
}
.navbar a{
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    transition: color 0.3s ease;

}
.navbar a:hover{
    color: #da6f4e;
}
.header-icons{
    margin-right: 220px;
}
.header-icons a{
    font-size: 18px;
    color: #da6f4e;
    cursor: pointer;
    margin-right:  20px;
    transition: color 0.3s ease;
}
.header-icons a:hover{
    color: #000;
}
.home-section{
    margin-top: 70px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 120px;
    background: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
}
.home-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 207, 207, 0.582);
    backdrop-filter: blur(2px);
    margin-top: 70px;
}
.home-content{
    position: relative;
    max-width: 600px;
}
.home-content h1{
    font-size: 68px;
    line-height: 1.1;
    margin-bottom: 20px;
    font-weight: 700;
    color: #000;

}
.home-content p{
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #da6f4e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: opacity 0.3s ease;
    font-size: 16px;

}
.btn:hover{
    opacity: 0.8;
}
.shop-section{
    padding: 80px 0px;
    text-align: center;
    background-color: #eceae7ef;
}
.shop-header h2{
    font-size: 40px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 700;
}
.shop-header p{
    font-size: 15px;
    color: #555;
    margin-bottom: 50px;
}
.product-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}
.product-card{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 315px;
    height: 390px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}
.product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.card-image img{
    width: 100%;
    border-radius: 2px;
}
.card-info{
    text-align: left;
    
    margin-top: 20px;
}
.card-info h3{
    font-size: 18px;
    font-weight: 500px;
}
.card-info p{
    margin-top: 5px;
    color: #da6f4e;
    font-weight: bold;
    font-size: 16px;
}
.collections-section{
    padding: 80px 0;
    background-color: #eeece84c;
}
.collections-cotent{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.collection-title{
    font-size: 48px;
    margin-bottom: 60px;
    color: #000;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.collections-cards{
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}
.collection-card{
    position: relative;
    width: 305px;
    height: 120px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition:  0.3s ease;
    background-color: #fff;
    border: solid 1px #fff;
}
.collection-card:hover{
    border-color: #da6f4e;
    color: #da6f4e;
}
.collection-card h3{
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
}
.collection-card p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.about-section{
    padding: 64px 32px 96px 32px;
    background-color: #eceae7ef;
}
.about-title{
    font-size: 48px;
    margin-bottom: 60px;
    color: #000;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.about-content p{
    font-size: 20px;
    color: #7e7167;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    letter-spacing: 1px;
    max-width: 700px;
}
.about-content .first-about{
    margin-bottom: 30px;
}
.about-content .second-about{
    margin-top: 30px;
}
.contact-section{
    background-color: #eeece84c;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact-content h2{
    font-size: 48px;
    color: #000;
    margin-bottom: 25px;
}
.contact-content p{
    color: #7e7167;
    margin-bottom: 60px;
    font-size: 16px;
}
.contact-form{
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}
.contact-form input{
    padding: 12px 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 300px;
    outline: none;
}
.contact-form button{
    background-color: #da6f4e;
    color: #fff;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    transition: opacity 0.3 ease;
}
.contact-form button:hover{
    opacity: 0.9;
}
.footer-section{
    background-color: #2c2521;
    color: #f9f8f6b2;
    padding: 70px 20px 30px;
}
.footer-content{
    max-width: 1600px;
    margin: 0 auto;
}
.footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 50px;
}
.footer-logo h3{
    margin-bottom: 24px;
    color: #f9f8f6;
    margin-bottom: 15px;
    font-size: 28px;
}
.footer-logo p{
    font-size: 16px;
    max-width: 250px;
}
.footer-column h4{
    margin-bottom: 22px;
    color: #f9f8f6;
    margin-bottom: 20px;
    font-size: 20px;
}
.footer-column a{
    text-decoration: none;
    color: #f9f8f6b2;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}
.footer-column a:hover{
    color: #da6f4e;
}
.footer-divider{
    margin-bottom: 30px;
    border-top: 1px solid;
    color: #f9f8f6b2;
}
.footer-bottom{
    text-align: center;
    font-size: 14px;
}
@media (max-width: 1024px) {
    .home-overlay{
        margin-top: 50px;
    }
    .home-content h1{
        font-size: 56px;
    }
    .home-content p{
        font-size: 18px;
    }
    .collection-card{
        width: 100%;
    }
    .collection-card img{
        width: 100%;
    }
    .footer-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .header-section{
        padding: 20px 30px;
    }
    .home-overlay{
        margin-top: 50px;
    }
    .home-content h1{
        font-size: 48px;
    }
    .home-content p{
        font-size: 16px;
    }
    .collection-card{
        width: 100%;
    }
    .collection-card img{
        width: 100%;
    }
    .footer-grid{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 600px) {
    .home-overlay{
        margin-top: 50px;
    }
    .home-content h1{
        font-size: 32px;
    }
    .home-content p{
        font-size: 14px;
    }
    .collection-card{
        width: 100%;
    }
    .collection-card img{
        width: 100%;
    }
    .footer-grid{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 400px) {
    .home-overlay{
        margin-top: 50px;
    }
    .home-content h1{
        font-size: 24px;
    }
    .home-content p{
        font-size: 12px;
    }
    .collection-card{
        width: 100%;
    }
    .collection-card img{
        width: 100%;
    }
    .footer-grid{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 300px) {
    .home-overlay{
        margin-top: 50px;
    }
    .home-content h1{
        font-size: 20px;
    }
    .home-content p{
        font-size: 10px;
    }
    .collection-card{
        width: 100%;
    }
    .collection-card img{
        width: 100%;
    }
    .footer-grid{
        grid-template-columns: 1fr;
    }
}